html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-weight: 300;
  background-color: rgb(6, 6, 6);
}

.app-logo {
  animation: app-logo-scale infinite 4s linear;
  height: 80px;
  width: 80px;
}

.app-header {
  background-color: rgb(6, 6, 6);
  height: 130px;
  color: aliceblue;
}

.app-title {
  font-size: 24px;
  width: 100%;
  height: 100%;
  font-weight: 100;
  text-align: center;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.app-footer {
  background-color: rgb(6, 6, 6);
  height: 30px;
  padding: 10px;
}
.footer-text {
  color: rgb(250, 255, 240);
  padding-left: 20px;
  font-size: 14px;
}

.game-area {
  width: 94%;
  margin: 20px auto;
}

.game-container {
  background: rgb(6, 6, 6);
  margin: 20px 0 0px 0;
}

.game-of-life {
  display: inline-block;
  background-color: darkslategray;
  width: max-content;
  overflow: hidden;
}

.game-row {
  line-height: 0;
}

.game-cellule {
  display: table-cell;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: 5px solid darkslategray;
  text-align: center;
  vertical-align: middle;
  font-size: 35px;
  color: rgb(10, 10, 10);
  transition: height 0.5;
  
  /* animation: new-item-animation .3s linear forwards; */
}
@keyframes board-animation {
  0% {
    opacity: 0;
    transform: translateY(-600px);;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes new-item-animation {
  0% {
    opacity: 0;
    transform: translateY(-600px);;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cellule-dead {
  background-color: rgb(6, 6, 6);
  animation: board-animation 1s linear forwards;
}

.cellule-live {
  background-color: rgb(211, 0, 0);
  animation: new-item-animation .3s linear forwards;
}

.cellule-green {
    background-color: rgb(217, 217, 0);
    animation: new-item-animation .3s linear forwards;
}
.cellule-green-computer {
  background-color: rgb(217, 217, 0);
  animation: new-item-animation .5s linear forwards;
}

.game-cellule_toot {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}

.cellule-dead_toot {
  background-color: rgb(6, 6, 6);
  animation: board-animation 1s linear forwards;
  
}

.cellule-live_toot {
  background-color: seagreen;
  animation: new-item-animation .3s linear forwards;
}

.cellule-green_toot {
    background-color: darkseagreen;
    animation: new-item-animation .3s linear forwards;
}

.cellule-green_toot_computer {
  background-color: darkseagreen;
  animation: new-item-animation .5s linear forwards;
}

.burger {
  background-color: transparent;
  border: none;
}

.navbar-brand {
  align-items: center;
}

.game-buttons {
  width: 100%;
  margin-top: 20px;
}
.readout {
  margin: 0 auto;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.text2 {
  font-size: 14px;
  color: #ccc;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding-left: 15px;
  padding-right: 15px;
  color: #ccc;
}